<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <add key="pathToProjectList" value="C:\Visual Studios\projects\NuGetProjectManager\tmp\projectList\"/>
    <add key="pathToNuspecFile" value="C:\Visual Studios\projects\NuGetProjectManager\tmp\data\xmlNuspec.xml.nuspec"/>
    <add key="pathToNugetExe" value="C:\Visual Studios\nuget\nuget.exe"/>
    <add key="pathToBuildDirectory" value="C:\Visual Studios\projects\NuGetProjectManager\tmp\buildDirectory\"/>
    <add key="pathToAssemblies" value="C:\Visual Studios\projects\NuGetProjectManager\tmp\assemblies\"/>
    <add key="pathToProjectDir" value="C:\Visual Studios\projects\NuGetProjectManager\app\NuGetProjectManager.Core\ngpmProjectDir"/>
  </appSettings>
</configuration>